body {
    background-color: #058800 !important;

}

.navbar{
    background-color: #fd4646 !important;
    text-align: center;
    padding: 14px 16px;
    color: black;
    border-right: 1px solid rgb(54, 54, 54);
}
